body {
  background-color: rgb(252, 248, 243);
}
footer {
  display: block;
}
img {
  height: 300px;
  width: 250px;
}
#main-page {
  flex: 1 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 50px;
  margin-right: 50px;
}
#main-page div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 40px;
  cursor: pointer;
}
#main-page div button {
  cursor: pointer;
  background-color: green;
  border: 0px;
  border-radius: 20px;
}
.contact:hover {
  width: 280px;
  background-color: greenyellow;
}

.Zalo {
  top: 30%;
}
.Tik-Tok {
  top: 40%;
}
.message {
  top: 50%;
}
.contact img {
  width: 100px;
  height: 100px;
}
#navigation {
  margin-top: 0px;
}
